:root {
  --color-gray-200: oklch(12% 9% 264deg / 7%);
  --color-gray-600: oklch(12% 7% 264deg / 67%);
  --color-gray-900: oklch(12% 5% 264deg / 90%);
}

/* CONTENEDOR */
.Accordion {
  width: 100%;
  color: white;
}

/* ITEM */
.Item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* TRIGGER */
.Trigger {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  font-size: 24px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  background: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

/* ICONO */
.TriggerIcon {
  width: 16px;
  height: 16px;
  transition: transform 0.2s ease;
}

[data-panel-open] > .TriggerIcon {
  transform: rotate(45deg);
}

/* PANEL */
.Panel {
  overflow: hidden;
  transition: height 0.25s ease;
}

/* CONTENIDO */
.Content {
  padding: 10px 0 20px 0;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  color: #ccc;
}
