/* @/components/ui/ScrollVelocity.css */
.parallax {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.scroller {
  display: flex;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.scroller span {
  display: block;
  flex-shrink: 0;
  padding-right: 50px; /* Espacio entre repeticiones */
}
